---
---

@import "{{ site.theme }}";

body {
    background-color: #ffffff;
}

a {
    color: #a002df;
    font-weight: 600;
}

h1 a {
    font-weight: 200;
}

summary::-webkit-details-marker {
    color: #a002df;
}

details {
    
    details {
    margin-left: 20px;
    }
    summary {
        color: #a002df;
    }
}