---
---

@import "{{ site.theme }}";

body {
    background-color: #ffffff;
}

a {
    color: #d1ce56;
    width: 100%;

    &:hover {
        background-color: #32363a;
        color: #d1ce56;
    }
}