---
---

@import "{{ site.theme }}";

body {
    background-color: #ffffff;
}

a {
    color: #a002df;
    font-weight: 600;
}

h1 a, .lighten-up {
    font-weight: 200;
}

summary::-webkit-details-marker {
    color: #a002df;
}

details {

    &:focus {
    outline:  none;
    }
    
    details {
    margin: 10px 0 0 20px;
    }
    summary {
        color: #a002df;
        font-weight: 600;
    }
}

.markdown-body pre>code {
    white-space: pre-wrap;
}

footer {
    position: absolute;
    bottom: 0;
    opacity: .5;

    &:hover {
        opacity: 1;
        background-color: #a002df;
    }
}